interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://sp.olx.com.br/sao-paulo-e-regiao/autos-e-pecas/carros-vans-e-utilitarios/ford/ecosport?o=0&gb=2&fu=1&rs=29&re=40
  response:
    content: Found. Redirecting to https://sp.olx.com.br/sao-paulo-e-regiao/autos-e-pecas/carros-vans-e-utilitarios/ford/ecosport/gasolina?gb=2&re=40&rs=29
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://sp.olx.com.br/sao-paulo-e-regiao/autos-e-pecas/carros-vans-e-utilitarios/ford/ecosport/gasolina?gb=2&re=40&rs=29
      X-NC:
      - '0'
    status_code: 302
- request:
    body: ''
    headers:
    method: GET
    uri: https://sp.olx.com.br/sao-paulo-e-regiao/autos-e-pecas/carros-vans-e-utilitarios/ford/ecosport/gasolina?gb=2&re=40&rs=29
  response:
    content: "<html lang=\"pt-BR\" data-reactroot=\"\"><head><meta name=\"viewport\"
      content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no\"/><meta
      name=\"x-testab-debugger\" content=\"adv-adview-lazyload_enabled.adv-gemini_enabled.adv-listing-afsh-native_enabled.adv-listing-afsh_enabled.adv-monitoring_enabled.adv-tails_enabled.bj-transactional-info_enabled.bj-verticalsplitter-listing-bjperformancetrackb_control.listingadvertisement_selobv.myads-historico-veicular-brasil_enabled.myads-historico-veicular_enabled.poc-autoshome_control.pp-product-visual-highlight-web_super-vitrine-active.rebranding-buyer-transaction_control.search-smart-price-sort_on-price-relevance-default.vasimo-simp-simulation_control.vasimo-ux-improvements_enabled.vx-tag-listing_active\"/><meta
      name=\"theme-color\" content=\"#6e0ad6\"/><meta name=\"apple-mobile-web-app-capable\"
      content=\"yes\"/><meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black-translucent\"/><link
      rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"https://m.olx.com.br/busca?ca=11_s&amp;cg=2020&amp;fu=1&amp;gb=2&amp;re=40&amp;rs=29&amp;vb=27&amp;vm=8&amp;w=1\"/><meta
      charSet=\"UTF-8\"/><meta name=\"google-site-verification\" content=\"uqJwtiNExrXVCtT-w4AryaEhN-mU4ognZGnDIX3ds-w\"/><meta
      name=\"format-detection\" content=\"telephone=no\"/><link rel=\"apple-touch-icon\"
      sizes=\"180x180\" href=\"https://static.olx.com.br/cd/vi/images/icons/apple-touch-icon.png\"/><link
      rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://static.olx.com.br/cd/vi/images/icons/favicon-32x32.png\"/><link
      rel=\"icon\" type=\"image/png\" sizes=\"192x192\" href=\"https://static.olx.com.br/cd/vi/images/icons/android-chrome-192x192.png\"/><link
      rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://static.olx.com.br/cd/vi/images/icons/favicon-16x16.png\"/><link
      rel=\"manifest\" href=\"https://static.olx.com.br/cd/vi/images/icons/site.webmanifest\"/><link
      rel=\"mask-icon\" href=\"https://static.olx.com.br/cd/vi/images/icons/safari-pinned-tab.svg\"
      color=\"#6e0ad6\"/><script>window.dataLayer = [{\"pageType\":\"listing\",\"page\":{\"pageType\":\"listing\",\"detail\":{\"region_id\":11,\"state_id\":1,\"apply_filter\":true,\"listing\":\"new\",\"parent_category_id\":\"2000\",\"category_id\":\"2020\",\"filters\":{\"regdate\":{\"min\":2011,\"max\":2022},\"gearbox\":\"2\",\"vehicleBrand\":\"27\",\"vehicleModel\":\"8\",\"fuel\":\"1\",\"selectedCategoryCode\":\"2020\",\"region\":11,\"state\":1,\"sorting\":\"relevance\",\"selectedAdTypes\":[\"1\",\"0\"],\"pageIndex\":1},\"totalOfAds\":9,\"length\":9}},\"site\":{\"isMobile\":false,\"source\":\"web\"}}]</script><script>function
      buildPerformanceDatalayer(){var e=window.dataLayer[0];e.page.detail.memoryStatus={},window&&window.navigator&&(e.page.detail.cpuCores=window.navigator.hardwareConcurrency,window.navigator.connection&&(e.page.detail.connectionType=window.navigator.connection.effectiveType,e.page.detail.downloadLink=window.navigator.connection.downlink,e.page.detail.saveData=window.navigator.connection.saveData),window.navigator.deviceMemory&&(e.page.detail.memoryStatus.de[...]
